VITE_FIREBASE_API_KEY="AIzaSyDZBN2tYS0hw9Nvuh1vVbZFRp9G9OQ4Xpw"
VITE_FIREBASE_AUTH_DOMAIN="appforge96.firebaseapp.com"
VITE_FIREBASE_PROJECT_ID="appforge96"
VITE_FIREBASE_APP_ID="1:921780424035:web:7f44b49e1a8383bc9b5756"
VITE_FIREBASE_FUNCTIONS_REGION=us-central1
VITE_USE_FIREBASE_EMULATOR=false
